<div id="recipe-instructions-list-header">
  <h2>Instructions</h2>
</div>

<div id="recipe-instructions-list">
  <ul>
  <% unless @recipe.instructions.nil? %>
    <% @instruction_list = @recipe.instructions.split("\n") %>
    <% @instruction_list.each do |instruction| %>
      <li>
      <%= instruction %><br>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>