<div class="outer-recipe contain-center">

	<div class="row">
	  <div class="recipe col-lg-4 col-lg-offset-2">
	    <div id="recipe-name">
	      <%= @recipe.name %>
	     </div>
	     <div id="recipe-picture">
	      <%= image_tag @recipe.image.url(:medium) %>
	    </div>
	  </div>

	  <div class="recipe-ingredients col-lg-3 col-lg-offset-2">
	    <%= render 'recipes/ingredients' %>
	  </div>
	 </div>

</div