<div class="outer-roulette contain-center">

  <div id="block">
    <%= button_to "Block", { action: "block", id: @recipe.id }, {class: 'btn'} %>
  </div>

  <div id="skip">
    <button class="btn" type="button">Skip</button>
  </div>

  <div class="row" id="row1">
  
    <div class="roulette contain-center" style = "background-color:<%=progress_bar_percentage(@recipe)%>"=>
      <div id="recipe-name">
        <%= @recipe.name %>
      </div>

      <div id="roulette-picture">
        <% #Change "#{@recipe.name}.jpg" to "#{@recipe.img_url}" to support Imgur hosting %>
        <%= link_to (image_tag "#{@recipe.name}.jpg"), 'http://willbeinsertedby.js' %> 
      </div>
    </div> <!-- end of roulette -->

  </div> <!-- end of row1 -->

  <br>
  <div class="row contain-center block-div">
    <div id="oldblock">
      <% #button_to "Block", 'http://willbeinsertedby.js', {class: 'btn'} %>
    </div>
  </div>

</div>