<div id="legendary">
  <div class="foo" style="width:10px; margin-left:0px; margin-right:20px; font-style:bold;">0%</div>
  <div class="foo" style="background-color:#A00000;"></div>
  <div class="foo" style="background-color:#FF0000;"></div>
  <div class="foo" style="background-color:#FF6600;"></div>
  <div class="foo" style="background-color:#FF9900;"></div>
  <div class="foo" style="background-color:#FFCC00;"></div>
  <div class="foo" style="background-color:#FFFF00;"></div>
  <div class="foo" style="background-color:#CCFF00;"></div>
  <div class="foo" style="background-color:#99FF00;"></div>
  <div class="foo" style="background-color:#66CC00;"></div>
  <div class="foo" style="background-color:#339900;"></div> 
  <div class="foo" style="margin-left:10px; margin-right:0px; width:40px; font-style:bold;">100%</div>
</div>