<% #@recipe_name is the instance variable passed to this view %>

<div class="row" id="row1">
  <div class="col-md-2">
    <div id="skip">
      <button class="btn" type="button">Skip</button>
    </div>
  </div>
  <div class="roulette col-md-8 contain-center">

    <div id="recipe-name">
      <%= @recipe_name %>
    </div>

    <div id="roulette-picture">
      <%= image_tag "#{@recipe_name}.jpg" %>
    </div>
  
  </div>
  <div class="col-md-2">
    <div id="open">
      <%= link_to "View", 'http://willbeinsertedby.js' %> 
    </div>
  </div>
</div> <!-- end of row1 -->
<br><br><br>
<div class="row" id="row2">
  <div class="col-md-2 contain-center">
    <div id="block">
      <%= button_to "Block", 'http://willbeinsertedby.js', {class: 'btn'} %>
    </div>
  </div>
</div> <!-- end of row2 -->