<html>
  <div class="dashboard-header-big">
	<h1> <%= "Welcome to your dashboard, #{@user.email}!" %> </h1>
	</div>
	<div id="dashboard-pantry">
		<div class="dashboard-header-med">
		  <h2> Your Pantry </h2>
		</div>
		<%= render 'user/dashboard/pantry' %>
	</div>

	<div id="dashboard-saved-recipes">
	  <div class="dashboard-header-med">
	    <h2> Your Saved Recipes </h2>
		</div>
		<%= render 'user/dashboard/savedrecipes' %>
	</div>

	<div id="roulette-button">
	  <%= button_to "Play Roulette", action: "roulette", method: :post %>
	</div>
	

</html>