/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= jquery-ui
 *= require_tree .
 *= require_self
 */



html,
body {
  margin:0;
  padding:0;
  height:100%;
  background-color: #d9dee2;
}

/* header styles */
.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  font-weight: bold;
}

.logo:hover {
  color: black;
  text-decoration: none;
}

.dropdown-toggle{
  color:white;
  background: none !important;
  border:none;
  padding:10px !important;
  cursor: pointer;
}

.dropdown-toggle:hover{
  color:black;
}

.dropdown-toggle:focus{
  color:black;
}

/* main HTML layout styles */

#wrapper {
  min-height:100%;
  position:relative;
}

.header {
  padding-top: 10px;
  padding-left:10px;
  padding-right:10px;
  background-color: FireBrick;
}

.mainbody {
  padding-top: 100px;
  // margin-left: auto;
  // margin-right: auto;
  padding-bottom:50px;   /* Height of the foot element */
}

.contain-center{
  float:none;
  margin:0 auto;
}

.foot {
  width:100%;
  height:50px;
  position:absolute;
  bottom:0;
  left:0;
}

.notice {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  width:20%;
  background-color:chartreuse;
  border-style:groove;
  border-radius:10px;
}