// Place all the styles related to the recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

/* styles for the recipe page */

.outer-recipe{
  margin:50 auto;
  width:100%;
  padding: 10px;
  min-width: 800px
}

#save-button{
  float:right;
  margin-top: 150px;
}

#block-button{
  float:left;
  margin-top: 150px;
}


/* box around picture and name */
.recipe{
  width:400px;
  float:none;
  background-color:oldlace;
  padding: 25px;
  margin-left:auto;
  margin-right: auto;
}

#recipe-name{
  color:blue;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

#recipe-picture img{
	width:350px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:15px;
}

.times{
  text-align: center;
}

.row1{
  width:60%;
  min-width:550px;
  // background-color:yellow;
  margin-left: auto;
  margin-right: auto;
}

.row2{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.bottomleft{
  min-height: 100px;
  width:30%;
  float:left;
  background-color: red;
  padding:30px
}

.bottomright{
  min-height: 100px;
  width: 65%;
  float:right;
  background-color:blue;
  padding:30px;
}