// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* roulette page styles */

@import "bootstrap-sprockets";
@import "bootstrap";


/* Roulette page styles */

.outer-roulette{
  margin:0 auto;
  width: 60%;
  padding: 10px;
  min-width: 550px;
  height: 600;
}

.block-div{
  margin:0 auto;
  width:70px;
  padding:5px;
}

#skip-button{
  float:right;
  margin-top: 150px;
}

#block-button{
  float:left;
  margin-top: 150px;
}

.roulette{
  width:400px;
  float:none;
  /*background-color:oldlace;*/
  padding: 25px;
}

#roulette-picture img {
  width:350px;
  margin-left: auto;
  margin-right: auto;
}

#recipe-name{
  color:black;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}


/* dashboard styles */

#dashboard-pantry {
	line-height:30px;
  background-color:lightblue;
  width:40%;
  float:left;
  padding:10px;
}

#dashboard-saved-recipes {
	line-height:30px;
  width:40%;
  float:right;
  background-color:darkturquoise;
  padding:10px;
}

#dashboard-add-recipe {
  width:40%;
  float:right;
  padding:10px;
}

#dashboard-tags {
  padding:10px;
  position:relative;
  text-align:center;
  clear:both;
}

.tag {
  padding:5px;
  border-style:groove;
  border-width:2px;
}

#roulette-button {
  padding:10px;
	position:relative;
	text-align:center;
	clear:both;
}

.pantry-list {
  padding:10px;
}

.pantry-ingredient {
  padding:5px;
  background-color:aliceblue;
  border-style:groove;
}

.add-ingredient {
  text-align:center;
  padding:10px
}

.remove-button {
  float:right;
  position:relative;
  display: inline-block;
  vertical-align:middle;
  font-weight:bolder;
  color:red;
}

.remove-button-text {
}

.ingredient {
  padding:10px;
}

.saved-recipe {
  padding:5px;
  background-color:aliceblue;
  border-style:groove;
}

.dashboard-header-big {
  text-align:center;
}

.dashboard-header-med {
  text-align:center;
  padding-bottom:10px;
  border-style:ridge;
  border-width:5px;
  border-color:silver;
}