// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* roulette page styles */

@import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

/* header styles */
.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.logo:hover {
  color: blue;
  text-decoration: none;
}

.dropdown-toggle{
  color:black;
}

/* main HTML layout styles */

#wrapper {
  min-height:100%;
  position:relative;
}

.header {
  padding-top: 10px;
  padding-left:10px;
  padding-right:10px;
}

.mainbody {
  padding-top: 100px;
  // margin-left: auto;
  // margin-right: auto;
  padding-bottom:50px;   /* Height of the foot element */
}

.contain-center{
  float:none;
  margin:0 auto;
}

.foot {
  width:100%;
  height:50px;
  position:absolute;
  bottom:0;
  left:0;
}

/* Roulette page styles */

.outer-roulette{
  margin:0 auto;
  width: 60%;
  padding: 10px;
  min-width: 550px;
  height: 600;
}

.block-div{
  margin:0 auto;
  width:70px;
  padding:5px;
}

#skip{
  float:right;
  margin-top: 150px;
}

#block{
  float:left;
  margin-top: 150px;
}

.roulette{
  width:400px;
  float:none;
  /*background-color:oldlace;*/
  padding: 25px;
}

#roulette-picture img {
  width:350px;
  margin-left: auto;
  margin-right: auto;
}

#recipe-name{
  color:black;
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}


/* dashboard styles */

#dashboard-pantry {
	line-height:30px;
  background-color:pink;
  width:40%;
  float:left;
  padding:10px;
}

#dashboard-saved-recipes {
	line-height:30px;
  width:40%;
  float:right;
  background-color:lightblue;
  padding:10px;
}

#dashboard-add-recipe {
  width:40%;
  float:right;
  padding:10px;
}

#roulette-button {
  padding:10px;
	position:relative;
	text-align:center;
	clear:both;
}

.pantry-list {
  background-color:yellow;
  padding:10px;
}

.pantry-ingredient {
  padding:5px;
  border-style:groove;
}

.add-ingredient {
  text-align:center;
  padding:10px
}

.remove-button {
  float:right;
  position:relative;
  display: inline-block;
  vertical-align:middle;
  font-weight:bolder;
  color:red;
}

.remove-button-text {
}

.ingredient {
  padding:10px;
}

.saved-recipe {
  
}

.dashboard-header-big {
  text-align:center;
}

.dashboard-header-med {
  text-align:center;
  padding-bottom:10px;
}