<div id="recipe-title">
	<h1 id="recipe-name">     
	      <%= @recipe_name %>
	</h1>
</div>
<br>
<div id="prep-cook-time">
	<p>
		Preparation time: <% #prep time will go here %> <br>
		Cooking time: <% #cook time will go here %>
	</p>
</div>