<div class="row">
	<div class="col-md-4 col-md-offset-2" id="recipe-picture">
		<%= image_tag "#{@recipe.name}.jpg" %>
	</div>
	<div class="col-md-3 col-md-offset-1" id="title-prep-time">
		<%= render 'recipe/titleprep' %>
	</div>
</div>

<div class="row">
	<div class="col-lg-4 col-lg-offset-1" id="recipe-ingredients">
		<%= render 'recipe/ingredients' %>
	</div>
	<div class="col-lg-4 col-lg-offset-1" id="recipe-instructions">
		<%= render 'recipe/instructions' %>
	</div>
</div>